ul.users li {
    width: 300px;
    display: inline-block;
     padding-right: 2em;
     padding-bottom: 2em;
     padding-top: 2em;
     padding-left: 2em;
    box-sizing: border-box;
    vertical-align: top;
    *display: inline; 
    *zoom: 1;
}

.inputText{
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.user{
    position: relative;
}

.users .user:hover{
    transition: box-shadow 0.2s ease-in-out 0s;
    box-shadow: 2px 2px 2px 2px lightskyblue;
}
.leftSpacing{
    padding-left: 6em;
}
.hline{
    width:90%;
}
.place{
     top: 6%;
    right: 10%;
    position: absolute;
}